@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .heading {
    font-size: 3.5rem;
    padding: 5% 0;
  }
  .home {
    margin-top: 20%;
  }
  .home .heading {
    font-size: 3rem;
    font-weight: 700;
  }
  .home .subHeading {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .home .authLinksDiv .authLinks {
    font-size: 1.75rem;
  }
  .authForm {
    font-size: 1.75rem;
  }
  input {
    font-size: 1.5rem;
  }
  input[type="submit"], .altAuth {
    font-size: 1.75rem;
    height: auto;
  }
  .nav {
    font-size: 1.75rem;
  }
  .newCard {
    width: 70vw;
    margin: 8rem auto;
  }
  .newCard .cardForm {
    font-size: 1.5rem;
  }
  .newCard .is-open .Dropdown-arrow {
    border-width: 0 0.75rem 0.75rem;
  }
  .newCard .Dropdown-arrow {
    border-width: 0.75rem 0.75rem 0;
    right: 10%;
    top: 40%;
  }
  .newCard .Dropdown-placeholder {
    padding: 4%;
  }
  .cardNum {
    margin-top: -9rem;
    font-size: 2rem;
    padding-left: 5%;
  }
  .cardDisplay {
    margin: -10rem auto  1.5rem;
  }
  .cardHolder {
    font-size: 1rem;
    margin: -5rem 0 3% 3%;
  }
  .expiryDisplay {
    margin-top: -4.5rem;
    font-size: 1rem;
  }
  .backCardDisplay {
    margin: -10rem auto  1.5rem;
  }
  .backCardDisplay .backDetails {
    margin-top: -8rem;
    margin-left: 23rem;
    font-size: 1.25rem;
  }
  .cardDisplayAllCards, .backCardDisplayAllCards {
    width: 60%;
    height: 60%;
    padding-top: 34.5%;
  }
  .backCardDisplayAllCards .backDetails {
    font-size: 1.25rem;
    margin-top: -8.25rem;
    margin-left: 24rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #DBE9FD;
}

.page {
  width: 80vw;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding: 10% 0;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: obvia, sans-serif;
}

.subHeading {
  text-align: center;
}

input {
  height: 6vh;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-weight: 300;
}

input[type="submit"], .altAuth {
  background-color: #394FD1;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 3%;
  width: 100%;
  margin: 0.5rem 0 0;
  text-align: center;
  border-radius: 5px;
}

.altAuth {
  margin-top: 1rem;
}

.altAuth a {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 5%;
}

.nav .logo {
  font-weight: 400;
  font-family: obvia, sans-serif;
  color: #394FD1;
  width: 30%;
}

.nav .navLinksDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.nav .navLinksDiv .navLinks {
  color: #000;
  text-decoration: none;
}

.nav .navLinksDiv .navLinks:hover {
  color: #394FD1;
}

.nav .navLinksDiv .logout {
  text-decoration: underline;
  cursor: pointer;
}

.home {
  margin-top: 10%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5%;
}

.home .subMsg {
  font-weight: 300;
  margin-bottom: 5%;
  color: #394FD1;
}

.home .heading {
  font-size: 2.5rem;
  font-family: obvia, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home .authLinksDiv {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .authLinksDiv .authLinks {
  text-decoration: none;
  color: #fff;
  background-color: #394FD1;
  border-radius: 5px;
  padding: 3%;
  text-align: center;
  width: 47%;
  font-size: 1rem;
}

.authForm {
  background-color: #fff;
  width: 80vw;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
  padding: 5%;
}

.authForm .authFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardDisplayAllCards {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../images/card-front-new.svg");
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 80%;
  padding-top: 45%;
  margin: 1rem auto 1.5rem;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.backCardDisplayAllCards {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../images/card-back-new.svg");
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 80%;
  padding-top: 45%;
  margin: 1rem auto 1.5rem;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.backCardDisplayAllCards .backDetails {
  margin-top: -5.25rem;
  margin-left: 15.5rem;
  color: #000;
  font-size: 0.75rem;
}

.errors {
  color: red;
  text-align: center;
}

.backCardDisplay {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../images/card-back-new.svg");
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding-top: 57%;
  margin: -5rem auto 1.5rem;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.backCardDisplay .backDetails {
  margin-top: -4.6rem;
  margin-left: 13.25rem;
  color: #000;
  font-size: 0.75rem;
}

.cardDisplay {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./../images/card-front-new.svg");
  -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  padding-top: 57%;
  margin: -5rem auto 1.5rem;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.cardNum {
  position: absolute;
  display: inline;
  margin-top: -5.5rem;
  padding-left: 8%;
  font-family: ocr-b-std, monospace;
  font-size: 1.1rem;
}

.cardHolder {
  width: 70%;
  margin: -3rem 0 3% 3%;
  font-size: 0.65rem;
  border-radius: 5px;
  padding: 2%;
  border: 1px solid #fff;
}

.cardHolder .nameLabel {
  color: rgba(255, 255, 255, 0.8);
}

.expiryDisplay {
  width: 30%;
  margin-top: -2.65rem;
  font-size: 0.65rem;
  padding-left: 5%;
}

.nameExpiryDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.expires {
  padding-bottom: 3%;
  color: rgba(255, 255, 255, 0.7);
}

.exp {
  padding-left: 4%;
}

.newCard {
  background-color: #fff;
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 7%;
  margin: 3rem 0;
}

.newCard .Dropdown-control, .newCard .Dropdown-menu {
  font-weight: 300;
}

.newCard .cardForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
}

.newCard .cardForm .typeDisplay {
  font-weight: 500;
  font-size: 1.25rem;
  color: #394FD1;
  padding-bottom: 3%;
  text-align: center;
}

.newCard .cardForm .formFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newCard .cardForm .expiryAndCvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newCard .cardForm .expiryAndCvv .expiry {
  width: 100%;
}

.newCard .cardForm .expiryAndCvv .expiry .Dropdown-root {
  width: 23vw;
  margin-right: 0.5rem;
}

.newCard .cardForm .expiryAndCvv .expiry .Dropdown-root .Dropdown-menu .Dropdown-option {
  color: #000;
}

.newCard .cardForm .expiryAndCvv .expiry .rowFields {
  width: 100%;
}

.newCard .cardForm .expiryAndCvv .cvv {
  width: 50%;
}

.newCard .cardForm .expiryAndCvv .rowFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newCard .cardForm .expiryAndCvv .rowFields .Dropdown-control {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  color: #000;
}

.newCard .cardForm .expiryAndCvv .rowFields input {
  width: 90%;
  padding: 6%;
}
/*# sourceMappingURL=App.css.map */